{% extends "base.html.twig" %}
{% block title %}Toutes les recettes
{% endblock %}
{% block body %}
	lorem ipsum jdghmqjkrgheqrjkfhmerjkghqmjkhqmdjkfmqdjhqmjf
	<ul>
		<li><ahref="{{url('recipe.show',)}}"></a></li>
	</ul>
{% endblock %}
